body{
  background-color: rgb(237, 242, 87);
  margin: 0px;
}

#main-container{
  width: 100%;
  max-width: 900px;
  height: 600px;
  background-color: rgb(0, 157, 255);
  margin: auto;
}

#headline-container{
  height: 50px;
  background-color: aqua;
}

#headline-container h1 {
  text-align: center;
}

.nav-bar{
  width: 25%;
  height: 50px;
  background-color: blueviolet;
  display: inline-block;
}

#nav-wrapper{
  width: 90%;
  height: 10px;
  background-color: rgb(156, 226, 43);
}