body {
  background-color: rgb(33, 33, 33);
  margin: 0px;
  padding: 0px;
}

.icon{
  fill: white; 
  cursor: pointer;
}


.gbt-logo-img{
  fill: white;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-image{
  width: 24px;
  height: 24px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.icon-no-fill{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.div-left-bar {
  width: 40px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.left-nav-bar-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0;
  bottom: 0px;
  width: 56px;
  border-right: 1px rgba(255, 255, 255, 0.05) solid;
  padding-bottom: 8px;
  padding-top: 8px;
}

.icon-set{
  display: flex;
  flex-direction: column;
  height: 100%;  /* why do i need this? */
  justify-content: space-between;
}
